body {
    text-align: center;
    font-size: x-large;
    font-family: serif;
    width: 95%;
    background-image: linear-gradient(purple, violet);
    color: white;
}

#logo {
    width: 30%;
}

#main-form {
    background-color: white;
    color: black;
    border: solid black 2px;
    border-radius: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    max-width: 500px;
    padding-top: 20px;
    padding-bottom: 40px;
}

input {
    border: none;
    outline: none;
    border-bottom: solid skyblue 2px;
}

button {
    border: solid white 2px;
    border-radius: 20px;
    color: white;
    padding: 5px 5px 5px 5px;
    background-color: purple;
}

#back {
    border: solid white 2px;
    border-radius: 20px;
    color: black;
    color: white;
    padding: 5px 5px 5px 5px;
    text-decoration: none;
}

.red {
    color: red;
}